<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >  
    
<suite name="testNG" verbose="1">  
  <test name="testNG">  
    <!-- <parameter name="URL" value="http://testng.org/" />   -->
    <classes>  
       <class name="com.edison.test.testNG.TestNG1">  <!-- 这里，name需要提供src\test\java\之后的目录
       包括allTest，如果只填写testAll是不行的 -->
       </class>  
        <class name="com.edison.test.testNG.TestNGParameterTest">  <!-- 这里测试参数的 -->
       </class> 
    </classes>  
  </test>  
</suite>  